<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		label {
			display: block;
			width: 10em;
			float: left;
		}
		.error {
			color: red;
		}
		select {
			
			width: 10em;
		
		}
	</style>
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:action="@{/addbook}" th:object="${book}" method="post">
			<table>
				<tr>
					<td>Author: </td>
					<td>
						<input type="text" id="author" th:field="*{author}" required>
						<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error">Error</span>
					</td>
				</tr>
				<tr>
					<td>Title: </td>
					<td>
						<input type="text" id="title" th:field="*{title}" required>
						<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">Error</span>
					</td>
				</tr>
				<tr>
					<td>Publication Year: </td>
					<td>
						<input type="number" id="publicationYear" th:field="*{publicationYear}" required>
						<span th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}" class="error">Error</span>
					</td>
				</tr>
				<tr>
					<td>ISBN: </td>
					<td>
						<input type="text" id="isbn" th:field="*{isbn}" required>
						<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="error">Error</span>
					</td>
				</tr>
				<tr>
					<td>Price: </td>
					<td>
						<input type="number" id="price" th:field="*{price}" required>
						<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error">Error</span>
					</td>
				</tr>
				<tr>
					<td>Category: </td>
					<td>
						<select id="catlist" th:field="*{category}" class="form-control">
							<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.cname}"></option>
						</select>
						<span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error">Error</span>
					</td>
				</tr>
			</table>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>

